<div class="row">

    <a href="#/" class="float-right">Back</a><br>
    Forecast for {{ city }}
    <br />
    Days: <a href="#/forecast/1">Today</a> | <a href="#/forecast/7">Next 7 days</a> | <a href="#/forecast/10">Next 10 days</a>
    <hr />
    <div class="row">
    <ng-repeat ng-repeat="w in results.list">
      <div class="col-md-12 col-sm-12 portfolio-item" ng-if="$first">
          <div class="portfolio-caption">
              <h1 class="text-center">{{ w.temp.day }}</h1>
          </div>
      </div>
    <div class="col-md-4 col-sm-4 portfolio-item" ng-if="!$first">
        <div class="portfolio-caption">
            <h3 class="text-center">{{ w.temp.day }}</h3>
            <p class="text-muted text-center">{{ converToDate(w.dt) | date: dateFormat}}</p>
            <p>{{ w.weather[0].description }}</p>
            <p>Max: {{ w.temp.max }} / Min: {{ w.temp.min }}</p>
            <p>Humidity: {{ w.humidity }}%</p>
        

        </div>

    </div>
    </ng-repeat>
  </div>
    <!-- <weather-result weather-day="w" conver-to-date="converToDate(daytimeTemp)" date-format="MMM, d, y"  ></weather-result> -->
</div>
